#bannerman
{
	position: fixed;
	left: 0;
	right: 0;
	color: #CCC;
	font-size: 10px;
	padding: 10px 30px 10px 10px;
	text-align: left;
}
#bannerman.top
{
	top: 0;
}
#bannerman.bottom
{
	bottom: 0;
}
* html #bannerman
{
	width: 96%;
}
#bannerman a
{
	text-decoration: none;
}
#bannermanclose
{
	float: right;
	width: 20px;
	height: 20px;
	background: #333;
	color: #FFF;
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid #CCC;
	border-width: 1px 0 0 1px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	padding-right: 2px;
}
